@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
.Header img {
  height: 100px;
}
@media (max-width: 768px) {
  .Header img {
    height: 60px;
  }
}
@media (max-width: 480px) {
  .Header {
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    justify-content: space-between;
    padding: 0 1rem;
  }
  .Header img {
    height: 50px; /* Ajustement de la taille du logo pour mobile */
  }
}

.navHeader {
  display: flex;
  gap: 80px;
  font-size: 23px;
}
@media (max-width: 768px) {
  .navHeader {
    gap: 50px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .navHeader {
    gap: 35px;
    font-size: 16px; /* Réduction de la taille des textes pour téléphone */
  }
}

.navHeader a {
  text-decoration: none;
  color: black;
}

.navHeader a.active {
  text-decoration: underline;
}

.Footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 35px;
  gap: 30px;
  font-size: 20px;
}
.Footer img {
  height: 100px;
}
@media (max-width: 768px) {
  .Footer {
    font-size: 16px;
    padding: 20px;
  }
  .Footer img {
    height: 60px;
  }
}

.HeaderSection {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
.HeaderSection img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  max-height: 500px;
  border-radius: 25px;
  filter: brightness(0.5);
  width: 90%;
}
.HeaderSection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black;
  width: 63%;
}
@media (max-width: 768px) {
  .HeaderSection img {
    border-radius: 15px;
    height: 150px;
  }
  .HeaderSection p {
    font-size: 2rem;
    top: 50%;
    text-shadow: none;
  }
}
@media (max-width: 480px) {
  .HeaderSection p {
    font-size: 1.5rem;
  }
  .HeaderSection img {
    border-radius: 15px;
    height: 125px;
  }
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-dropdown {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px auto;
}
@media (max-width: 768px) {
  .About-dropdown {
    width: 70%;
    gap: 13px;
  }
}
@media (max-width: 480px) {
  .About-dropdown {
    width: 85%;
    gap: 12px;
  }
}

.About-dropdown .dropdown-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, height 0.7s ease;
}

.About-dropdown .dropdown-content.open {
  opacity: 1;
  visibility: visible;
  height: auto; /* L'élément s'ouvre automatiquement à la hauteur de son contenu */
}

.dropdown-item {
  margin-bottom: 10px;
  border-radius: 14px;
}

.dropdown-header {
  background-color: #ff6b6b;
  color: white;
  padding: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;
  font-weight: bold;
  height: 13px;
}
@media (max-width: 768px) {
  .dropdown-header {
    height: 6px;
  }
}
@media (max-width: 480px) {
  .dropdown-header {
    height: 2px;
  }
}

.dropdown-header::after {
  content: "";
  border: solid white;
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  position: absolute;
  right: 20px;
}

.dropdown-header.open::after {
  transform: rotate(-135deg);
}

.dropdown-content {
  padding: 12px 14px 10px 20px;
  font-size: 16px;
  text-align: left;
}

.About-dropdown-two {
  display: flex;
  margin-inline: 12rem;
  gap: 200px;
}
.About-dropdown-two .dropdown-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.7s ease, height 0.7s ease;
}
.About-dropdown-two .dropdown-content.open {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.About-dropdown-two .dropdown-item-two {
  margin-bottom: 10px;
  border-radius: 14px;
  width: 50%;
}
@media (max-width: 768px) {
  .About-dropdown-two .dropdown-item-two {
    width: 80%;
  }
}
@media (max-width: 1064px) {
  .About-dropdown-two {
    margin-inline: 7rem;
  }
}
@media (max-width: 768px) {
  .About-dropdown-two {
    width: 100%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-inline: 0px;
  }
}
.equipments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.equipments-list li {
  margin-bottom: 5px;
}

.LogementsSection .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(410px, 0fr));
  gap: 55px;
  padding: 50px;
  justify-content: center;
}
@media (max-width: 480px) {
  .LogementsSection .grid-container {
    display: flex;
    gap: 25px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
  }
}
.LogementsSection .grid-item {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.8) 80%), url("path-to-your-cover-image");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  position: relative;
}
.LogementsSection .grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.LogementsSection .grid-item p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  margin: 0;
  text-align: left;
  width: 51%;
}
@media (max-width: 480px) {
  .LogementsSection .grid-item p {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .LogementsSection .grid-item {
    height: 190px;
  }
}
.LogementsSection .appartement-details {
  margin-top: 30px;
  text-align: left;
}
.LogementsSection .appartement-details h2 {
  font-size: 28px;
  color: #333;
}
.LogementsSection .appartement-details p {
  font-size: 18px;
  margin-bottom: 10px;
}
.LogementsSection .appartement-details h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #ff6b6b;
}
.LogementsSection .appartement-details ul {
  list-style-type: disc;
  padding-left: 20px;
}
.LogementsSection .appartement-details .pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.LogementsSection .appartement-details .pictures .appartement-picture {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.appartement-details {
  display: flex;
  justify-content: space-between;
  margin-inline: 12rem;
  color: #ff6b6b;
  margin-block: 35px;
}
@media (max-width: 1064px) {
  .appartement-details {
    margin-inline: 7rem;
  }
}
@media (max-width: 768px) {
  .appartement-details {
    margin-inline: 5rem;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .appartement-details {
    margin-inline: 1.5rem;
  }
}
.appartement-details .appartement-details-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.appartement-details .appartement-details-left h2 {
  font-size: 35px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .appartement-details .appartement-details-left h2 {
    font-size: 22px;
  }
}
.appartement-details .appartement-details-left .location {
  font-size: 20px;
  color: black;
  margin-bottom: 25px;
}
@media (max-width: 480px) {
  .appartement-details .appartement-details-left .location {
    font-size: 16px;
  }
}
.appartement-details .appartement-details-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 768px) {
  .appartement-details .appartement-details-right {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.appartement-details .appartement-details-right .host {
  display: flex;
}
.appartement-details .appartement-details-right .host p {
  font-size: larger;
  width: 40%;
  padding-top: 12px;
}
@media (max-width: 480px) {
  .appartement-details .appartement-details-right .host p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .appartement-details .appartement-details-right .host {
    flex-direction: row;
  }
}
.appartement-details .appartement-details-right img.host-picture {
  border-radius: 65px;
  height: 5rem;
}
@media (max-width: 480px) {
  .appartement-details .appartement-details-right img.host-picture {
    height: 3rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  color: white;
  background-color: #ff6b6b;
  border-radius: 5px;
  padding: 5px 10px;
}
@media (max-width: 480px) {
  .tag {
    padding: 2px 8px;
    font-size: 14px;
  }
}

.rating {
  display: flex;
  flex-wrap: nowrap;
}

.star {
  font-size: 22px;
  margin-inline: 5px;
}
@media (max-width: 480px) {
  .star {
    font-size: 14px;
  }
}
.star.colored {
  color: #ff6b6b;
}
.star.empty {
  color: #ccc;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error404 img {
  margin: 40px 0 50px 0;
}
.error404 h3 {
  font-size: 5vh;
  font-weight: 300;
  margin: 40px 0 50px 0;
  color: #ff6b6b;
}
.error404 p {
  margin: 40px 0 50px 0;
  text-decoration: underline;
  font-size: larger;
}

.carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 480px) {
  .carousel {
    width: 90%;
  }
}
.carousel .carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel .carousel-wrapper .carousel-image {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .carousel .carousel-wrapper .carousel-image {
    height: 260px;
  }
}
.carousel .carousel-wrapper .carousel-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel .carousel-wrapper .carousel-navigation .carousel-arrow {
  background: none;
  border: none;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  transition: color 0.2s;
}
.carousel .carousel-wrapper .carousel-navigation .carousel-arrow:hover {
  color: #ff4b4b;
}
@media (max-width: 480px) {
  .carousel .carousel-wrapper .carousel-navigation .carousel-arrow {
    font-size: 2rem;
  }
}
.carousel .carousel-wrapper .carousel-navigation .left {
  margin-left: 10px;
}
.carousel .carousel-wrapper .carousel-navigation .right {
  margin-right: 10px;
}
.carousel .carousel-wrapper .carousel-counter {
  position: absolute;
  bottom: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .carousel .carousel-wrapper .carousel-counter {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */